body {
  background: rgb(7,7,25);
  background: linear-gradient(180deg, rgba(7,7,25,1) 0%, rgba(14,21,37,1) 27%, rgba(36,65,74,1) 61%, rgba(55,104,106,1) 100%);  text-align: center;

}
h1 {
  font-family: 'Sriracha';
  color: white;
  font-size: 150px;
  text-shadow: 0px 0px 50px Tomato;
}

h2 {
  font-family: 'Damion', cursive;
  font-size: 100px;
  color: White;
  text-shadow: 0px 0px 35px Aquamarine;
}

h3 {
    font-family: 'Sriracha';
    color: White;
    font-size: 75px;
    text-shadow: 0px 0px 35px Aquamarine;
  }
h4 {
  font-family: 'Sriracha';
  color: White;
  font-size: 50px;
  text-shadow: 0px 0px 35px Navajowhite;
}
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}

a:active {
  text-decoration: none;
}
  .container {
    width: 50%;
    margin: 75px auto;
  }
