* {
  box-sizing: border-box;
}
.container {
  width:800px;
  margin: 100px auto;

}
.small {
  width: 100px;
  height: 150px;
  background-color: Blue;
  float: left;
  border: 2px solid white;

}
.largest {
  width: 200px;
  height: 450px;
  background-color: Blue;
  float: left;
  border: 2px solid white;
}
.medium {
  width: 100px;
  height: 300px;
  background-color: Blue;
  border: 2px solid white;
  float: left;
}
.large {
  width: 200px;
  height: 300px;
  background-color: Blue;
  border: 2px solid white;
  float: left;
}
.board {
  width: 600px;
  float: left;
}
.board2 {
  width: 200px;
  float: left;
}
.board3 {
  width: 100px;
  Float: left;
}
