body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 110vw;
 margin: -50px 10px;
 background-color: : darkgrey;
 opacity: 75%;
}
.block-1 {
  border-color: black;
  float: left;
  width: 75px;
  height: 75px;
  background: olive;
  margin: 0;
}
.block-2 {
  border-color: teal;
  float: left;
  margin: 0;
  width: 75px;
  height: 75px;
  background: yellow;
  border-radius: 15%
}
.block-3 {
  border-radius: 50%;
  border: 3px solid black;
  float: left;
  width: 75px;
  height: 75px;
  border-color: purple;
  margin: 10px;
  background: red;
