/* selector */
body {
  background: rgb(100,161,200);
background: linear-gradient(180deg, rgba(100,161,200,1) 0%, rgba(5,95,178,1) 92%);
  color: navajowhite;
  font-family: sans-serif;
  font-size: 22px;
  text-align: center;

}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 32px;
}
}
li {
   margin: 30px 0 0 0;
   font-size: 22px;
   list-style-type: none;
   padding: 0;

}
ol {
}
ul {
  list-style-type: none;
  padding: 0;
}
.intro {
}
.container {
  width: 50%
  margin: 100px auto;

}
