body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 110vw;
 margin: -50px auto;
}
.block-1 {
  border-color: black;
  float: left;
  width: 80px;
  height: 30px;
  background: darkblue;
  margin: 0;
}
.block-2 {
  border-color: navajowhite;
  float: left;
  margin: 0;
  width: 50px;
  height: 250px;
  background: Teal
}
.block-3 {
  border-radius: 25%;
  border: 10px solid black;
  float: left;
  width: 200px;
  height: 200px;
  border-color: blue;
  margin: 0;
  background: tomato;
  
}
